
<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<% if user_signed_in? %>
  <p>
      <%= link_to 'Supprimer le commentaire', [comment.article, comment],
                  method: :delete,
                  data: { confirm: 'Êtes-vous sûr de vouloir supprimer ce commentaire?' } %>
  </p>
<% end %>